<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Real estate</title>
</head>
<body>
<div class="mx-auto" style="width: 400px;">
        <div class="col-xs-3">
            @RenderBody()
        </div>
    </div>
</body>
</html>
